* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a,
button,
.card-size-dec,
.contact a,
.footer-icons-container a,
.wishing-button-container,
.timer-button-container,
.gifts-card-main-text,
.header-nav-list a,
.burger-container,
.slide-card-box {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

h2 {
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  background-color: #e5e5e5;
}


:root {
  --xwite: #F6F6F6;
  --xgray: #CDCDCD;
  --xdark-gray: #545454;
  --xblack: #292929;
  --kind-ligh: #FDDCC4;
  --kind-dark: #F1CDB3;
  --xradial: radial-gradient(#5B483A, #262425);
  --georgia: Georgia, sans-serif;
  --arial: Arial, sans-serif;
  --side-padding: 0px 40px;
  --tablet: 810px;
}

@media (hover:hover){
  .header-list-container li:hover {
    color: #FAFAFA;
    font-weight: 500;
  }

  .header-article-button-container:hover {
    background-color: #FAFAFA;
    cursor: pointer;
  }

  .looking-cards-block-button-container:hover {
    background-color: #FDDCC4;
    cursor: pointer;
  }

  .looking-main-button-container:hover {
    background-color: #FAFAFA;
    cursor: pointer;
  }
  
  .donation-article-bank-container:hover {
    background-color: #FAFAFA;
    cursor: pointer;
  }

  .active-nav:hover {
    cursor: pointer;
    background-color: #FDDCC4;
  }

  .burger-menu li:hover {
    color: #FAFAFA;
  }

  .burger-container:hover {
    cursor: pointer;
  }
  
}

body {
  max-width: 1280px;
  width: 100%;
  font-family: var(--arial);
  background-color: #fff;
  overflow-x: hidden;
}

.body-disabled {
  pointer-events: none;
}

h1 {
  font-family: var(--georgia);
  color: #F1CDB3;
  font-size: 32px;
  letter-spacing: 6%;
  font-weight: 400;
  margin-bottom: 10px;
}

html {
  display: flex;
  justify-content: center;
}

.header-text-container p {
  color: #CDCDCD;
  font-size: 13px;
  letter-spacing: 10%;
  font-weight: 400;
}

header {
  background: url('src/img/header.jpg') no-repeat center / cover;
  padding: 30px 40px 0 40px;
}


.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.header-list-container {
  max-width: 443px;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
}

.header-list-container ul {
  display: flex;
  justify-content: space-between;
  color: #CDCDCD;
}

.header-list-container li {
  padding-bottom: 3px;
}


.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-article-container {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.header-article-header-text-container {
  max-width: 310px;
  width: 100%;
}

.header-article-header-text-container h2 {
  color: #FFFFFF;
  font-size: 44px;
  line-height: 130%;
  font-family: var(--georgia);
  font-weight: 400;
}

.header-article-main-text {
  max-width: 460px;
  width: 100%;
}

.header-article-main-text p {
  color: #CDCDCD;
  font-size: 15px;
  line-height: 160%;
}

.header-article-button-container {
  display: flex;
  justify-content: center;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  padding: 15px 0;
  border-radius: 100px;
  max-width: 207px;
  width: 100%;
  transition: 0.5s;
}

.header-article-button-container button {
  color: var(--xblack);
  font-size: 17px;
  letter-spacing: 6%;
  font-family: var(--georgia);
}

.header-img-container {
  max-width: 698px;
  width: 100%;
  display: block;
  margin-bottom: -4px;
}

.header-img-container img {
  width: 100%;
}

@media (max-width: 810px) {
  .header-top {
    margin-bottom: 60px;
  }

  .header-bottom {
    flex-direction: column;
    gap: 100px;
  }

  .header-img-container {
    max-width: 569px;
    width: 100%;
    align-self: flex-end;
  }

  .header-article-button-container {
    align-self: center;
  }
}

.burger-container {
  display: none;
  width: 30px;
  flex-direction: column;
  gap: 10px;
}

.burger-container span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
}

.active-burger {
  pointer-events: auto;
}

.active-burger :first-child {
  transform: translate(-12px, 12px) rotate(90deg);
  transition: all 0.5s;
}

.active-burger :nth-child(2) {
  transform: rotate(90deg);
  transition: all 0.5s;
}

.active-burger :last-child {
  transform: translate(12px, -12px) rotate(90deg);
  transition: all 0.5s;
}

.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  right: -100vw;
  width: 320px;
  background-color: #292929;
  height: 100vh;
  transition: all 0.6s;
  pointer-events: auto;
}

.active-burger-menu {
  right: 0;
}

.burger-menu ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.burger-menu li {
  font-size: 32px;
  color: #CDCDCD;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
}

.z-index0 {
  z-index: -1;
}


.selected-list {
  color: #FAFAFA !important;
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
  cursor: default;
  padding-bottom: 5px;
}

@media (max-width: 732px) {
  .header-list-container {
    display: none;
  }

  .burger-container {
    display: flex;
    z-index: 2;
  }
}

@media (max-width: 384px) {
  .header {
    padding: 30px 20px 0 20px;
  }

  .header-article {
    align-items: center;
  }

  .header-article-header-text-container h2 {
    font-size: 25px;
    text-align: center;
  }

  .header-article-main-text p {
    text-align: center;
  }

}

.about {
  padding: var(--side-padding);
  margin: 80px 0 100px 0;
  padding: 0 175px 0 175px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}


@media (max-width: 950px) {
  .about {
    padding: 0 100px 0 100px;
  }
}

@media (max-width: 810px) {
  .about {
    flex-direction: column;
    gap: 80px;
  }

  .about-img-container {
    order: 1;
  }
}

@media (max-width: 518px) {
  .about {
    padding: 0 50px 0 50px;
  }
}

.about-img-container {
  max-width: 300px;
  width: 100%;
}

.about-img-container img {
  width: 100%;
}

.about-text-container {
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-text-header-container {
  max-width: 370px;
  width: 100%;
}

.about-text-header-container h2 {
  font-family: var(--georgia);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 6%;
  color: #545454;
}

@media (max-width: 408px) {
  .about {
    margin: 42px 0 42px 0;
    padding: 0 25px;
  }

  .about-text-header-container h2 {
    text-align: center;
    font-size: 25px;
  }
}

.about-text-fisrt-container p {
  font-size: 15px;
  color: #4C4C4C;
  line-height: 160%;
}

.about-text-second-container p {
  font-size: 15px;
  color: #4C4C4C;
  line-height: 160%;
}

.looking {
  background-color: #F6F6F6;
  padding: 80px 40px 100px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.looking-header-container {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.looking-header-container h2 {
  white-space: pre;
  color: #545454;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 6%;
  font-family: var(--georgia);
}

.looking-cards-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.looking-cards-outer-flex {
  overflow-x: hidden;
  max-width: 990px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.looking-cards-block {
  border-radius: 9px;
  background-color: #FAFAFA;
  max-width: 270px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.looking-cards-block-name-container p {
  color: #545454;
  font-size: 20px;
  letter-spacing: 6%;
  font-family: var(--georgia);
}

.looking-cards-block-button-container {
  padding: 15px 0;
  margin-bottom: 30px;
  max-width: 187px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  transition: 0.5s;
}

.looking-cards-block-button {
  color: #292929;
  font-size: 17px;
  font-family: var(--georgia);
  letter-spacing: 6%;
}


.looking-main-button-container {
  position: relative;
  max-width: 261px;
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: 0.5s;
}

.relative-container {
  position: relative;
}

.overlay-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
}

.looking-main-button {
  color: #292929;
  font-size: 17px;
  letter-spacing: 6%;
  font-family: var(--georgia);
}

@media (max-width: 1032px) {
  .looking-cards-outer-flex > :last-child {
    display: none;
  }

  .looking {
    padding: 80px 30px 100px 30px;
  }

  .looking-cards-outer-flex {
    max-width: 600px;
  }
}

@media (max-width: 734px) {
    .looking {
      padding: 42px 10px 42px 10px;
      gap: 42px;
    }

    .looking-cards-outer-flex > :nth-child(2) {
       display: none;
    }

    .looking-cards-outer-flex {
      max-width: 300px;
       justify-content: center;
    }

    .looking-cards-container {
      display: grid;
      place-items: center;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      'item2 item2'
      'item1 item3';
    }

    .item1 { grid-area: item1; }
    .item2 { grid-area: item2; }
    .item3 { grid-area: item3; }

    .looking-header-container h2 {
      font-size: 25px;
      white-space: normal;
    }
}

.help {
  padding: 80px 40px 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.help-header-container {
  max-width: 308px;
  width: 100%;
}

.help-header-container h2 {
  text-align: center;
  color: #545454;
  font-size: 35px;
  font-family: var(--georgia);
  letter-spacing: 6%;
  line-height: 130%;
}

.help-examples-container {
  max-width: 1126px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}

.help-grid1{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  row-gap: 55px;
}

.help-grid1 > :nth-child(1) {
  grid-row: 1;
  grid-column: 1 / 3;
}

.help-grid1 > :nth-child(2) {
  grid-row: 1;
  grid-column: 3 / 5;
}

.help-grid1 > :nth-child(3) {
  grid-row: 1;
  grid-column: 5 / 7;
}

.help-grid1 > :nth-child(4) {
  grid-row: 1;
  grid-column: 7 / 9;
}

.help-grid1 > :nth-child(5) {
  grid-row: 1;
  grid-column: 9 / 10;
}

.help-grid1 > :nth-child(6) {
  grid-row: 2;
  grid-column: 2 / 3;
}

.help-grid1 > :nth-child(7) {
  grid-row: 2;
  grid-column: 4 / 5;
}

.help-grid1 > :nth-child(8) {
  grid-row: 2;
  grid-column: 6 / 8;
}

.help-grid1 > :nth-child(9) {
  grid-row: 2;
  grid-column: 8 / 10;
}

.help-examples-block {
  max-width: 166px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.help-examples-block-img-container {
  max-width: 60px;
  width: 100%;
}

.help-examples-block-text-container p{
  color: #545454;
  font-family: var(--georgia);
  font-size: 20px;
  letter-spacing: 6%;
}

@media (max-width: 885px) {
  .help-grid1 {
    grid-template-columns: repeat(3, 1fr);
  }

  .help-grid1 > :nth-child(1),
  .help-grid1 > :nth-child(2),
  .help-grid1 > :nth-child(3),
  .help-grid1 > :nth-child(4),
  .help-grid1 > :nth-child(5),
  .help-grid1 > :nth-child(6),
  .help-grid1 > :nth-child(7),
  .help-grid1 > :nth-child(8),
  .help-grid1 > :nth-child(9) {
    grid-row: auto;
    grid-column: auto;
    margin: 0 auto;
  }
}

@media (max-width: 593px) {
  .help {
    padding: 42px 10px 42px 10px;
    gap: 42px;
  }

  .help p {
    font-size: 15px;
  }

  .help-grid1 {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .help-header-container {
    max-width: 220px;
  }

  .help-header-container h2 {
    font-size: 25px;
  }

  .help-examples-block {
    gap: 20px;
  }
}

.donation {
  display: flex;
  justify-content: center;
  padding: 80px 0 100px 0;
  background-color: #F6F6F6;
}

.donation-flex {
  max-width: 915px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donation-img-container {
  max-width: 505px;
  width: 100%;
}

.donation-article-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;
  width: 100%;
}

.donation-article-header-container {
  max-width: 300px;
  width: 100%;
}

.donation-article-header-container h2 {
  color: #545454;
  font-family: var(--georgia);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 6%;
}

.donation-article-text-container p {
  color: #545454;
  font-size: 15px;
  font-family: var(--georgia);
  letter-spacing: 6%;
}

.donation-article-bank-container {
  max-width: 349px;
  width: 100%;
  display: flex;
  padding: 10px 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #F1CDB3;
  transition: 0.5s;
}

.donation-article-bank-img-container {
  display: flex;
  align-items: center;
  max-width: 30px;
  width: 100%;
}

.donation-article-bank-text-container p{
  color: #545454;
  letter-spacing: 6%;
  font-size: 20px;
  font-family: var(--georgia);
}

.donation-article-additional-text-container {
  max-width: 380px;
  width: 100%;
}

.donation-article-additional-text-container p {
  color: #B2B2B2;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
}

@media (max-width: 900px) {
  .donation-flex {
    flex-direction: column;
    gap: 60px;
  }

  .donation-img-container {
    order: 1;
  }

  .donation-img-container img {
    width: 100%;
  }
}

@media (max-width: 432px) {
  .donation {
    padding: 42px 10px;
  }

  .donation-article-text-container p {
    letter-spacing: 0;
  }

  .donation-article-additional-text-container {
    max-width: 349px;
    width: auto;
  }
  
  .donation-flex {
    gap: 42px;
  }

  .donation-article-container {
    align-items: center;
  }

  .donation-article-bank-text-container p {
    font-size: 15px;
    letter-spacing: 0;
  }

  .donation-article-header-container h2 {
    font-size: 25px;
    text-align: center;
  }

  .donation-article-bank-container {
    justify-content: start;
    gap: 10px;
  }
}

.footer {
  background: url('src/img/header.jpg') no-repeat center / cover;
  padding: 40px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer-questions-container {
  width: 278px;
  min-width: 278px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-questions-header-container h2 {
  color: #FFFFFF;
  font-size: 35px;
  font-family: var(--georgia);
  line-height: 130%;
  letter-spacing: 6%;
}

.footer-questions-email-conatiner {
  max-width: 251px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-questions-email-img-container {
  display: flex;
  align-items: center;
  max-width: 40px;
  width: 100%;
}

.footer-questions-email-text-container p {
  color: #F1CDB3;
  font-size: 20px;
  font-family: var(--georgia);
  letter-spacing: 6%;
}

.footer-questions-phone-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 239px;
  width: 100%;
}

.footer-questions-phone-img-container {
  display: flex;
  align-items: center;
  max-width: 40px;
  width: 100%;
}

.footer-location-container {
  width: 302px;
  min-width: 302px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-location-header-container {
  max-width: 270px;
  width: 100%;
}

.footer-location-header-container h2{
  color: #FFFFFF;
  font-size: 35px;
  font-family: var(--georgia);
  line-height: 130%;
  letter-spacing: 6%;
}

.footer-location-line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-location-line-img-container {
  min-width: 22px;
  width: 100%;
  display: flex;
  align-items: center;
}

.footer-location-line-text-container {
  min-width: 260px;
  width: 100%;
}

.footer-location-line-text-container p{
  color: #F1CDB3;
  font-family: var(--georgia);
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 6%;
}

.active-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  transition: 0.5s;
}

@media (max-width: 996px) {
  .footer {
    flex-wrap: wrap;
    row-gap: 65px;
  }

  .footer-main-img-container {
    margin: 0 auto;
  }  
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 40px 10px 0 10px;
  }

  .footer-questions-header-container h2 {
    font-size: 25px;
    text-align: center;
  }

  .footer-location-header-container h2 {
    font-size: 25px;
    text-align: center;
  }

  .footer-main-img-container {
    max-width: 260px;
    width: 100%;
  }

  .footer-main-img-container img {
    width: 100%;
  }

}